@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');

html,
body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

main {
    z-index: 100;
}
main > *:nth-child(even) {
    background-color: #f4feff;
}

section {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 350px);
    padding: 100px 24px;
}
section > .container {
    display: flex;
    height: 100%;
    margin: 0px auto;
    max-width: 1440px;
}
section > .container > * {
    margin: auto 12px;
}

@media screen and (max-width: 700px) {
    section {
        height: auto;
    }
    section > .container {
        display: block;
    }
    section > .container > * {
        margin: 12px auto;
        width: 100%;
    }
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0%;
    left: 0%;
    background: url(../images/hero.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.section-text {
    min-width: 300px;
}
.section-text__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;
    color: #2b044d;
    max-width: 400px;
}
.section-text__title-centered {
    max-width: 600px;
    text-align: center;
    margin: 0px auto;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;
    color: #2b044d;
}
.section-text__title-big {
    font-size: 4rem;
    font-weight: 700;
    color: #2b044d;
    line-height: 1.3;
    margin-bottom: 24px;
    max-width: 600px;
}
.section-text__title-small {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
    color: #23182c;
}
.section-text__subtitle {
    color: #2b044d;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.section-text__body {
    color: #707b8e;
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 400;
    max-width: 300px;
}

.section-image {
    height: calc(100vh - 130px);
}
.section-image__small {
    height: calc(100vh - 130px);
    max-width: 60vw;
}
.section-image img,
.section-image__small img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

@media screen and (max-width: 700px) {
    .section-image,
    .section-image__small {
        display: none;
    }
}

.register-btn,
.login-btn {
    background-color: #f9218d;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 16px 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s linear;
    margin: 0;
}
.register-btn:hover,
.login-btn:hover {
    background-color: #da1276;
}

.login-btn {
    position: absolute;
    margin-left: 10;
}
.text-white {
    color: #fff;
}

.row {
    display: flex;
    margin: 0px -14px;
    justify-content: space-between;
}
.col-50 {
    width: 50%;
    padding: 0px 14px;
}
.col-30 {
    width: 30%;
    padding: 0px 14px;
}
